body{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #dddddd;
}
#area{    
    width: 760px;
    height: 450px;
    border: solid 4px black; 
    border-radius: 8px; 
    background: #fff;  
    padding: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball {
    width: 35px;
    height: 35px;
    background: red;
    border-radius: 50%;
    position: absolute;
}
.ammo {
    width: 25px;
    height: 25px;
    background: blue;
    position: absolute;
}

#pointsCounter,
#ammoCounter,
#hp{
    font-size: 2rem;
    font-weight: bold;
    margin: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#pointsCounter{
    color: green;
}
#ammoCounter{
    color: grey;
}
#hp{
    color: red;
}

#start,
#stop,
#reset{
    width: 250px;
    height: 65px;
    background: none;
    color: #512355;
    font-weight: bold;
    border: solid 2px #512355;
    border-radius: 8px;    
    margin-top: 25px;
    cursor: pointer;
    outline: none;
}

#start:hover,
#stop:hover,
#reset:hover{
    background: #512355;
    color: #FFF;
}

.btn-disabled{        
    opacity: .7;
    pointer-events: none;
}

.disabled{
    pointer-events: none;
}

.gameover{ 
    visibility: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    color: red;
    font-size: 8rem;
    animation: gameover 5s infinite;
}
.show-gameover{
    visibility: visible
}
@keyframes gameover {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    75%  {color: green;}
    100% {color: red;}
  }