* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;    
    -webkit-user-drag: none;  

}

body {
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}

h1, h2, h3{
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 24px;
    letter-spacing: 2px;   

}

#paused{
    animation: gameover 1s infinite;
    font-size: 3rem;
}

#container {
    margin: auto;
    display: flex;
    width: 95vw;
    height: 90vh;
    align-items: center;
    flex-direction: column;
}

#header{
    margin: auto;
    padding: 4px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#header #playing {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header #points{
    display: flex;
    align-items: center;
    justify-content: center
}

#header span{
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 2rem;
    margin-left: 14px;  
}

/* ITENS DA TELA*/
.covid, 
.ammo,
.cloroquine {
    width: 65px;
    height: 65px;    
    position: absolute;
}
.covid{
    animation: pulse 1s infinite
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000000de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 250ms;
}


/* HUD */
.screen-icons{
    width: 65px;
    height: 65px;        
    animation: pulse 2s infinite
}

#screen{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #ffffff0e;
    padding: 24px;    
}


.panel {
    width: 6%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}


#area {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1;
    position: relative;
    text-align: center;
}

.click-disabled {
    pointer-events: none!important;    
}

.bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
    margin-bottom: 4px;
    overflow: hidden;
}

.hp-bar{
    border: solid 2px #ff0000;
    padding: 8px;
}

.ammo-bar{
    border: solid 2px #3e7394;
    padding: 8px;
}

.hp-bar-fill{
    width: 100%;
    background-color: #ff0000;
    transition: height 850ms;
}

.ammo-bar-fill{
    width: 100%;
    background-color: #3e7394;
    transition: height 850ms;
}


#pointsCounter,
#ammoCounter,
#hpCounter {
    font-size: 2rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin: 4px 0;
}
#pointsCounter {
    color: #bd22a3;
    margin-right: 12px;
}
#ammoCounter {
    color: #3e7394;
}
#hpCounter {
    color: #ff0000;
}

.popUp {    
    text-align: center;
    padding: 12px 48px;
    border: solid 2px #000;
    border-radius: 8px;
    background: #0000003b;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.popUp p{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    animation: gameover 5s infinite;
    text-align: center;
    margin-bottom: 21px;
}

#howTo{
    width: 70%;
    text-align: center;
    margin-bottom: 12px;
}
#howTo h1{
    animation: gameover 2s infinite
}
#howTo .tutorial{  
    width: 100%;  
    display: flex;
    align-items: center;
    text-align: left;
}

/* BOTÕES */
#button-area {
    display: flex;
    flex-direction: column;
}

.button{
    background: #512355;
    color: #fff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    outline: none;
    width: 230px;
    height: 45px;
}

#pause,
#quit {
    width: 100%;
    height: 65px;
    z-index: 10;
}

#start,
#resume,
#reset,
#popUpYes,
#popUpNo{
    margin: 4px;
}

.button:hover {
    background: #2a122c;
    color: #fff;
}

.hide {
    display: none;
}

.button-greyd{
    background: #5c5c5c;
    border: solid inset 2px #292929;
    color:#292929;  
    opacity: .8  
}



/* DIVERSOS */
.gameover {
    color: #ff0000;
    font-size: 3rem;
    animation: gameover 5s infinite;
    text-align: center;
}












/* RESPONSIVIDADE */

@media only screen and (max-height: 375px){
    h1{
        font-size: 1.3rem;
    }
    #playing span    {
        font-size: 1rem;
    }
    #logo span{
        font-size: 1.5rem;
    }
    #hpCounter,
    #ammoCounter{
        font-size: 1.2rem;
    }
    #paused{
        font-size: 2rem
    }
    #pause,
    #quit{
        width: 50px;
        height: 44px;
    }
    button{
        font-size: .7rem;
    }
    .panel{
        width: 5%;
    }
    .icon-screen{
        width: 40px;
        height: 40px;
    }
}




/* ANIMATIONS */

@keyframes pulse {
    0%{transform: scale(.90);}
    9%{transform: scale(.92);}
    19%{transform: scale(.94);}
    29%{transform: scale(.96);}
    39%{transform: scale(.98);}
    50%{transform: scale(1);}
    59%{transform: scale(.98);}
    69%{transform: scale(.96);}
    79%{transform: scale(.94);}
    89%{transform: scale(.92);}
    100%{transform: scale(.90);}
}

@keyframes gameover {
    0% {
        color: #ff0000;
    }
    25% {
        color: #ffff00;
    }
    50% {
        color: #0000ff;
    }
    75% {
        color: #008000;
    }
    100% {
        color: #ff0000;
    }
}