* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0c0c0c;
}

h1{
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;      
    user-select: none;
}

.container {
    margin: auto;
    display: flex;
    width: 100vw;
    max-width: 1150px;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    position: relative;
}

.gaming-area{
    display: flex;
    width: 100%;
    height: 100%;
    user-select: none;
}
header{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
header h1{
    margin-left: 14px;    
}

#area {
    width: 100%;
    height: 100%;
    background: #cfe6fa;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;    
    border-radius: 0 16px 16px 0
}

.ball, 
.ammo {
    width: 65px;
    height: 65px;    
    position: absolute;
    
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    
    -webkit-user-drag: none;
}

.icon-screen{
    width: 85px;
    height: 85px;
    
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    
    -webkit-user-drag: none;
}

@keyframes example {
    from {top: 0;}
    to {top: 150%;} 
}

.panel {
    padding: 12px;
    background: #cfe6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: solid 4px black;
    border-radius: 16px 0 0 16px;    
}

#pointsCounter,
#ammoCounter,
#hp {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#pointsCounter {
    color: #bd22a3;
}
#ammoCounter {
    color: #3e7394;
}
#hp {
    color: red;
}

.btn {
    position: absolute;
    top: 75%;
    left: 45%;
}

#start,
#stop,
#reset {
    width: 230px;
    height: 45px;
    background: #512355;
    color: #fff;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    outline: none;    
    margin: 8px;
    user-select: none;
    display: block;
}

#start:hover,
#stop:hover,
#reset:hover {
    background: #2a122c;
    color: #fff;
}

.btn-disabled {
    display: none!important;
}

.disabled {
    pointer-events: none;
}

.gameover {
    display: block;    
    color: red;
    font-size: 6rem;
    animation: gameover 5s infinite;
}

@keyframes gameover {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: red;
    }
}
